.banner-section{
  .container{
    @media (max-width:640px){
      padding: 0;
    }
  }
  &__content{
    display: flex;
    justify-content: space-between;
    @media (max-width: 1200px) {
      justify-content: space-around;
    }
    @media (max-width: 968px) {
      margin-top: 25px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.slider-banner{
  max-width: 870px;
  @media (max-width: 1200px) {
    max-width: 640px;
  }
  @media (max-width: 968px) {
    max-width: 100% !important;
    margin-bottom: 25px;
  }
  &__item{
    @media (max-width: 968px) {
      text-align: center;
    }
  }
  &__img{
    object-fit: cover;
    min-height: 400px;
    max-width: 870px;
    @media (max-width: 1200px) {
      max-width: 640px;
    }
    @media (max-width: 968px) {
      display: inline;
      max-width: 100% !important;
    }
    @media (max-width: 640px) {
     min-height: 200px;
    }
    @media (max-width: 440px) {
      min-height: 164px;
     }
  }
  &__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    cursor: pointer;
    &:hover {
      svg {
        path {
          fill: $mainColor;
        }
      }
    }
    &:active {
      svg {
        path {
          fill: #fff;
        }
      }
    }
     &_left{
      left: 20px;
     }
     &_right{
       right: 20px;
    }
  }
  .slick-dots{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    @media (max-width: 640px) {
      bottom: 25px;
     }
    @media (max-width: 440px) {
      bottom: 15px;
     }
  }
  .slick-dots li{
    display: inline-block;
    padding: 0 5px;
  }
  .slick-dots button{
    font-size: 0;
    margin: 0;
    padding: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    @media (max-width: 640px) {
      width: 7px;
      height: 7px;
     }
  }
  .slick-active button{
    background-color:#fff;
  }
  .slick-slide img {
    @media (max-width: 968px) {
     display: inline-block;
    }
}
}
.sale-banner{
  max-width: 265px;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__info{
    color:#fff;
    padding: 8px 20px;
    background-color:$mainColor;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  &__price{
    text-align: right;
  }
  &__price-new{
    @extend %barlow-bold;
    font-size: 27px;
    line-height: 32px;
    color: $mainColor;
    padding-right: 20px;
    margin-right: 5px;
    position: relative;
    &::after{
      position: absolute;
      content: "";
      background-image: url('./images/icons-price.svg');
      right: 0;
      bottom: 6px;
      width: 15px;
      height: 18px;
    }
  }
  &__price-old{
    @extend %barlow-regular;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    margin-right: 15px;
    background-image: url('./images/old-line.svg');
    background-repeat:no-repeat;
    padding: 2px 5px;
    display: inline-block;
    position: relative;
    &::after{
      position: absolute;
      content: "";
      background-image: url('./images/icons-price-old.svg');
      width: 8px;
      height: 10px;
      right: -9px;
      bottom: 4px;
    }
  }
  &__img{
    object-fit: contain;
  }
  &__title{
    @extend %sf-bold;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
    padding: 0 30px;
  }
  &__bottom{
    background-color: #F0F0F4;
    border-radius: 3px;
    min-height: 99px;
    line-height: 22px;
    font-size: 18px;
    padding: 25px 20px;
    span{
      @extend %barlow-bold;
      font-size: 18px;
      line-height: 22px;
      color: $mainColor;
      display: block;
      padding-top: 6px;
    } 
  }
}