extends ../../pug/layout/main

block variables
  -var title = 'drive moto'
  -var pageClass = 'product-page'

block content
  include ../../components/product-card/product-card
  include ../../components/card-tabs/card-tabs
  include ../../components/products-buy-with/products-buy-with