.catalog{
  &__title{
    @extend %sf-bold;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 26px;
  }
  &__inner{
    display: flex;
  }
  &__inner-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product-item__wrapper{
      margin-bottom: 31px;
    }
  }
}
.filter-catalog{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

}
.filter-items{
  &__btn{
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
    opacity: 0.7;
    background: #F0F0F4;
     border-radius: 3px;
     border: none;
     padding: 4px 22px;
     margin-right: 8px;
     cursor: pointer;
     outline: none;
     border: none;
     &:last-child{
       margin: 0;
     }
     &_active{
      background-color: $mainColor;
      color: #fff;
      opacity: 1;
     }
  } 
}
.filter-btn{
  display: flex;
  align-items: center;
  button{
    background:transparent;
    border:none;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
    &:last-child{
      margin-left: 10px;
    }
  }
  &__button{
    opacity: 0.3;
    &_active{
      opacity: 1;
    }

  }
}
.select-filter{
  font-size: 14px;
  line-height: 17px;
  margin-right: 34px;
  color: #2F3035;
  border: 1px solid #D7D9DF;
  padding: 7px 10px 7px 20px;
  height: 33px;
}

.pagination{
  width: 100%;
  margin-top: 40px;
  &__list{
  display: flex;
  justify-content: center;
  }
  &__item{
    @extend %barlow-regular;
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;
    padding: 7px 15px;
    margin-right: 7px;
    &:last-child{
      margin: 0;
    }
    &_active{
      border: 2px solid $mainColor;
      color:$mainColor;
     }
  }
  a{
    display: block;
  }
}
.aside-filter{
  min-width: 290px;
  margin-right: 10px;
  &__tabs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  &__link.tab_active{
      @extend %sf-bold;
      color: $mainFontColor;
      border-bottom: 2px solid $mainColor;
      padding-bottom: 7px;
  }
  &__link{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #C4C4C4;
    &:last-child{
      margin-right: 40px;
    }
  }
}
.form-filter{
  &__item-drop{
    margin-bottom: 40px;
    &:nth-child(3){
      padding-bottom: 40px;
    }
  }
  &__item-bottom{
    text-align: center;
    outline: none;
    border:none;
  }
  &__item-list{
    margin-bottom: 40px;
    border-bottom: 2px solid #C4C4C4;
  }
  &__title-drop{
    @extend %sf-semibold;
    font-size: 16px;
    line-height: 19px;
    padding-left: 26px;
    position: relative;
    cursor: pointer;
    &::before{
       position: absolute;
       content: "";
       background-image: url('./images/arrow-down.svg');
       left: 0;
       bottom: 5px;
       width: 12px;
       height: 8px;
       transform: rotate(0);
    }
    &_active{
      &::before{
       transform: rotate(180deg);
     }
   }
  }
  &__title-select{
    @extend %sf-semibold;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 14px;
    padding-left: 26px;
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    &_radio{
      flex-wrap: nowrap;
      margin-right: 38px;
    }
    &_select{
      justify-content: space-between;
    }
  }
  &__content-box{
    flex:0 1 50%;
    margin-top: 10px;
  }
  &__content-label{
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
  }
  &__content-more{
    width: 100%;
  }
  &__content-more-btn{
    font-size: 14px;
    line-height: 17px;;
    color: $mainColor;
    margin-top: 18px;
    border: none;
    border-bottom: 1px solid $mainColor;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: all .2s;
    outline: none;
    &:hover{
      color: #000;
      border-bottom: 1px solid #000;
    }
    &:active{
      color: $mainColor;
      border-bottom: 1px solid $mainColor;
    }
  }
  &__content-model-search{
    width: 100%;
    padding: 8px 7px 7px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #E0E0E0;
    outline: none;
    color: $mainColor;
    font-size: 12px;
    &::placeholder{
      font-size: 12px;
      color: #BDBEC2;
    }
  }
  .btn-checked{
    .form-filter__content {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    .form-filter__content-box{
      flex: 0 1 auto;
    }
    .form-filter__content-label{
      position: relative;
    }
    &__text{
      position: absolute;
      @extend %sf-bold;
      font-size: 12px;
      line-height: 14px;
      color: #C4C4C4;
      letter-spacing: 0.07em;
      z-index: 5;
      top: -4px;
      left: 50%;
      transform: translateX(-57%);
    }
    .jq-checkbox.checked + .btn-checked__text{
      color:#fff;
    }
    .jq-checkbox{
      background: #F0F0F4;
      height: 25px;
      width: 63px;
      border:none;
    }
    .jq-checkbox.checked{
      background: $mainColor;
    }
    .jq-checkbox__div{
      display: none;
    }
  }
  &__send{
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #BDBEC2;
    background-color: #F0F0F4;
    padding: 17px 85px 15px;
    outline: none;
    border:none;
    margin-bottom: 15px;
    height: 50px;
    cursor: pointer;
    transition: all .3s;
    &_active{
      background-color: $mainColor;
      color: #fff; 
    }
    &:hover{
      color: $mainColor;
      border-radius:3px;
      border: 1px solid $mainColor;
      background-color: #fff; 
    }
    &:active{
      color: #BDBEC2;
      background-color: #F0F0F4;
      border: none;
    }
  }
  &__extra{
    font-size: 13px;
    line-height: 16px;
    position: relative;
    cursor: pointer;
    &::after{
      position: absolute;
      content: "";
      background-image: url('/assets/images/arrow-down.svg');
      right: 36px;
      bottom: 3px;
      width: 12px;
      height: 8px;
      transform: rotate(0);
    }
  }
  .form-filter__title-drop_active.form-filter__extra::after{
    transform: rotate(180deg);
  } 
  &__extra-content{
    display: none;
  }
  &__btn-reset{
    margin-top: 15px;
    font-size: 13px;
    line-height: 16px;
    border: none;
    outline: none;
    background:transparent;
    cursor: pointer;
  }
  &__btn-reset-text{
    border-bottom:1px solid #C4C4C4;
    color: #C4C4C4;
    transition: all .3s;
    &:hover{
      border-bottom: 1px solid $mainColor;
      color: $mainColor;
    }
    &:active{
      border-bottom: 1px solid #C4C4C4;
      color: #C4C4C4;
    }
  }
}
.product-item__wrapper_list{
  width: 100%;
  .product-item{
    width: 100%;
  }
}
   //jQuery Form Styler input
   .jq-checkbox, .jq-radio{
    background: #fff;
    width: 14px;
    height: 14px;
    border:1px solid #C4C4C4;
    border-radius: 1px;
    vertical-align: -1px;
    margin: 0px 8px 0 0;
    box-shadow: none;
  }
  .jq-checkbox.checked, .jq-radio.checked{
    background: $mainColor;
    border:none;
  }
  .jq-checkbox.checked .jq-checkbox__div {
    position: absolute;
    width: 8px;
    height: 6px;
    margin: 4px 0 0 3px;
    border-bottom: none;
    border-left: none;
    transform: rotate(0);
    background-image:url('./images/checked.svg');
  }
  .jq-radio.checked .jq-radio__div {
    position: absolute;
    width: 0;
    height: 0;
  }
  //ion-rangeslider
  .irs--flat.irs-with-grid {
    width: 100%;
  }
  .irs--flat {
    width: 100%;
    margin-top: -15px;
  }
  .irs-from, .irs-to, .irs-single{
    display: none;
  }
  .irs--flat .irs-max, .irs--flat .irs-min {
    top: 55px;
    padding: 0;
    text-shadow: none;
    @extend %barlow-regular;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color:$mainFontColor;
    background: none;
    visibility: visible !important;
    padding-left: 27px;
  }
  .irs-min,.irs-max{
    &::before{
      position: absolute;
      left: 0;
      bottom: 1px;
      font-size: 14px;
      line-height: 17px;
      color: #C4C4C4;
      text-decoration: none;
    }
  }
  .irs-min::before{
    content: 'oт';
  }
  .irs-max::before{
    content: 'до';
  }
  .irs--flat .irs-line {
    height: 1px;
    background-color:  #E0E0E0;
    border-radius: 0;
  }
  .irs--flat .irs-bar {
    top: 24px;
    height: 3px;
    background-color:  $mainColor;
  }
  .irs--flat .irs-handle {
    top: 22px;
    width: 8px;
    height: 8px;
    border-radius:50%;
    background-color: $mainColor;
  }
  .irs--flat .irs-handle>i:first-child {
    display: none;
  }
  //jQuery Form Styler select
  .jq-selectbox__select {
    @extend %barlow-regular;
    font-size: 14px;
    line-height: 17px;
    color: #48494D;
    height: 32px;
    padding: 0 35px 0 10px;
    background:transparent;
    border-radius: 0;
    box-shadow:none;
    text-shadow: none;
    border: none;
  }
  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border: none;
  }
  .jq-selectbox__trigger {
    border-left:none;
    background-image: url('/assets/images/arrow-down.svg');
    margin-top: 6px;
    margin-right: 20px;
    width: 12px;
    height: 8px;
  }
  .jq-selectbox__select:hover {
    background: transparent;
  }
  .jq-selectbox.focused .jq-selectbox__select{
    border:none;
  }
  .jq-selectbox__select:active {
    background: transparent;
    box-shadow: none;
  }
  .jq-selectbox__select:active {
      background: rgba(0,0,0,0);
      box-shadow: none;
  }
  .jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 68px;
     margin: -13px 0 0;
    padding-top: 15px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 0;
    box-shadow: none;
  }
  .jq-selectbox li {
    min-height: 18px;
    padding: 5px 10px 6px;
    color: rgba(0, 0, 0, 0.6);
  }
  .jq-selectbox li:hover {
    background-color: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
  }
  .jq-selectbox li.selected {
    background-color: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
  }




