section.products
  .container
    .products__content
      .products__tabs.tabs.tabs-products
         a.tabs-products.tab.tab_active(href="#")
      .tabs__container.products__container
        .tabs-content.products__content.tabs-content_active