
.products{
  &__title{
    @extend %barlow-bold;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
  }
}
.tabs-products{
  margin-bottom: 25px;
  .tab_active{
    border-bottom: 2px solid $mainColor;
    }
  &__link{
    margin-right: 50px;
    padding-bottom: 10px;
    &:last-child{
      margin: 0;
    }
  }
}
.product-slider{
  &__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    cursor: pointer;
     &_left{
      left: -40px;
     }
     &_right{
       right: -20px;
    }
    &:hover {
      svg {
        path {
          fill: $mainColor;
        }
      }
    }
    &:active {
      svg {
        path {
          fill: #1f1f1f;
        }
      }
    }
  }
  .slick-slide{
    height: 415px;
  }
  .slick-slide img {
  display: inline;
 }
 .slick-dots{
   display: none;
 }
 @media (max-width: 1300px) {
  .slick-dots{
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .slick-dots li{
    display: inline-block;
    padding: 0 5px;
  }
  .slick-dots button{
    font-size: 0;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #C4C4C4;;
    outline: none;
    border:none;
  }
  .slick-dots .slick-active button{
    background-color: $mainColor;
  }
 }
}
.more-products{
  text-align: center;
  &__link{
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background-color: #F0F0F4;
    padding: 17px 43px 15px;
    margin-top: 35px;
    @media (max-width: 1300px) {
      margin-top: 74px;
    }
    &:hover{
      color: $mainColor;
      background-color: #fff;
      outline: 1px solid $mainColor;
    }
    &:active{
      color: #fff;
      background-color: $mainColor;
      outline: none;
    }
  }
}
