section.products.page-section
  .container
    .products__content
      h3.products__title Популярные товары
      .tabs-wrapper
        .products__tabs.tabs-products.mobile-overflow
           a.tabs-products__link.tab.tab_active(href="#product-tab-1") запчасти
           a.tabs-products__link.tab(href="#product-tab-2") моторы
           a.tabs-products__link.tab(href="#product-tab-3") шины 
           a.tabs-products__link.tab(href="#product-tab-4") электроника
           a.tabs-products__link.tab(href="#product-tab-5") инструменты
           a.tabs-products__link.tab(href="#product-tab-6") аксессуары 
      .products__box.tabs-box
        .tabs-box__content#product-tab-1.tabs-content.tabs-content_active
          .tabs-box__slider.product-slider
            .product-slider__item
              +product('product-popular-3','product-item_sale')
            .product-slider__item
              +product('product-popular-1')
            .product-slider__item
              +product('product-popular-2','product-item_sale')
            .product-slider__item
              +product('product-popular-4','product-item_not-available')
            .product-slider__item
              +product('product-popular-3','product-item_sale')
            .product-slider__item
              +product('product-popular-1')
            .product-slider__item
              +product('product-popular-2','product-item_sale')
        .tabs-box__content#product-tab-2.tabs-content
          .tabs-box__slider.product-slider
            .product-slider__item
              +product('product-popular-3','product-item_sale')
            .product-slider__item
              +product('product-popular-1')
            .product-slider__item
              +product('product-popular-2','product-item_sale')
            .product-slider__item
              +product('product-popular-4','product-item_not-available')
            .product-slider__item
              +product('product-popular-3','product-item_sale')
            .product-slider__item
              +product('product-popular-1')
            .product-slider__item
              +product('product-popular-2','product-item_sale')
        .tabs-box__content#product-tab-3.tabs-content slider-3
        .tabs-box__content#product-tab-4.tabs-content slider-4
        .tabs-box__content#product-tab-5.tabs-content slider-5
        .tabs-box__content#product-tab-6.tabs-content slider-6
      .products__more.more-products
        a.more-products__link(href="#") Показать еще
      