.btn{
  font-size: 14px;
  line-height: 17px;
  height: 50px;
  text-align: center;
  letter-spacing: .12em;
  text-transform: uppercase;
  color: #fff;
  padding: 17px 53px;
  background: #1c62cd;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all .3s;
  &:hover{
    color: $mainColor;
    border-radius:3px;
    border: 1px solid $mainColor;
    background-color: #fff; 
  }
  &:active{
    color: #BDBEC2;
    background-color: #F0F0F4;
    border: none;
  } 
}

/* .btn{
  font-size: 15px;
  line-height: 18px;
  padding: 17px 85px 15px;
  margin-bottom: 15px;
} */