section.page-section.categories
  .container
    .categories__content
      -
        let items = [
         {link:'#', img:'categories-item/images/categories-1'},
         {link:'#', img:'categories-item/images/categories-2'},
         {link:'#', img:'categories-item/images/categories-3'},
         {link:'#', img:'categories-item/images/categories-4'},
         {link:'#', img:'categories-item/images/categories-5'},
         {link:'#', img:'categories-item/images/categories-6', isResize: true},
        ]
      each item in items
        +categoriesItem(item)

