extends ../../pug/layout/main

block variables
  -var title = 'drive moto'
  -var pageClass = 'catalog-page'

block content
  include ../../components/breadcrumbs/breadcrumbs
  include ../../components/catalog/catalog
  


