.breadcrumbs
  .container
    ul.breadcrumbs__list
      li.breadcrumbs__list-item
        a(href="index.html") Главная
      li.breadcrumbs__list-item
        a(href="catalog.html") Гидроциклы
      li.breadcrumbs__list-item
        a(href="#") Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic
section.product-card.page-section
  .container
    .product-card__content
      .product-card__img-box.img-card.product-item_sale
        img.img-card__img(src=require("./images/gidrotsikl-large.png").default, alt="gidro")
        p.img-card__price-old 1 200 475 ₽
        p.img-card__price-new 1 100 475 ₽
        a.img-card__link(href="#") Нашли дешевле? Снизим цену!
      .product-card__content-box.content-card
        h1.content-card__title Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic
        p.content-card__code Код товара: 	366666-2
        .content-card__buttons
          a.content-card__favorite(href="#")
            img(src=require("./images/heart.svg").default, alt="favorite")
          a.content-card__compare(href="#")
            img(src=require("./images/compare.svg").default, alt="compare")
          a.rate(href="#")
            .rate-yo(data-rateyo-rating="4")
        .content-card__tabs
           a.content-card__tabs-link.tab.tab_active(href="#content-card-tab-1") Характеристики
           a.content-card__tabs-link.tab(href="#content-card-tab-2") Наличие в магазине
        .content-card__box
          .content-card__content#content-card-tab-1.tabs-content.tabs-content_active
            ul.content-card__list
              li.content-card__item
                .content-card__item-left Производитель
                .content-card__item-right Канада
              li.content-card__item
                .content-card__item-left Количество мест, шт: 
                .content-card__item-right 3
              li.content-card__item
                .content-card__item-left Мощность, л.с.
                .content-card__item-right 155
              li.content-card__item
                .content-card__item-left Тип двигателя
                .content-card__item-right Бензиновый
              li.content-card__item
                .content-card__item-left Год выпуска
                .content-card__item-right 2018
            a.content-card__more(href="#") Показать еще
            button.content-card__btn купить
          .content-card__content#content-card-tab-2.tabs-content
            p CONTENT 2


        

    
    
      