extends ../../pug/layout/main

block variables
  -var title = 'drive moto'
  -var pageClass = 'index-page'

block content
  include ../../components/banner-section/banner-section
//-   include ../../components/search/search
//-   include ../../components/categories/categories
//-   include ../../components/products/products
//-   include ../../components/banner/banner
//-   include ../../components/products-buy-with/products-buy-with
