//FONTS
%sf-regular{ //mainFont
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 400;
}
%sf-semibold{
  font-family:'SFProDisplay', sans-serif;
  font-weight: 600;
}
%sf-bold{
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 700;
}
%sf-medium{
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 500;
}
%barlow-bold{
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}
%barlow-regular{
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

$mainFontColor           : #2F3035;
$mainColor               : #1C62CD;
$mainFontSize            : 20px;
$mainLineHeight          : 24px;


