mixin menuMobile(item)
  .menu-mobile
    ul.menu-mobile__list
      li.menu-mobile__item
        a.menu-mobile__link(href=item.link)
          img.menu-mobile__img
          p=item.title

//- -
//-   let items = [
//-     {title:'about us',link:'#'},
//-     {title:'about us',link:'#'},
//-     {title:'about us',link:'#'},
//-   ]
//- each item in items
//-   +menuMobile(item)
//- (src=require(`@components/header/images/user.svg`).default alt="icon")
                 




  




