mixin menu-mobile(options)
  if !options
    - options = {}
  if !options.items
    - options.items = []
  
  .menu-mobile
    ul.menu-mobile__list
      for item in options.items
        li.menu-mobile__item
          a.menu-mobile__link(href=item.href)
            img.menu-mobile__img(src=require(`@components/header/images/user.svg`).default alt="icon")
            p=item.name

//- - var options.items = [{link:"/#",name:"Квадроциклы"},{link:"catalog.html", name:"Гидроциклы"}]
//- +menu-mobile({link:"/#",name:"Квадроциклы"},{link:"catalog.html", name:"Гидроциклы"})

  




