.footer{
  background-color: #F0F0F4;
}
.top-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:43px 0 27px;
  @media (max-width:940px) {
    flex-wrap:wrap;
    justify-content: space-around;
  }
  &__column{
    @media (max-width:940px) {
     margin-bottom: 25px;
     margin-right: 20px;
     @media (max-width:540px) {
      margin-bottom: 0;
      border-bottom: 2px solid #fff;
     }
    }
    &:first-child{
     max-width: 295px;
   }
    &:nth-child(2){
     max-width: 200px;
  }
    &:nth-child(3){
     max-width: 200px;
  }
    &:last-child{
     max-width: 250px;
     @media (max-width:540px) {
       border: none;
     }
  }
  @media (max-width:540px) {
    margin-right: 0;
    &:first-child{
      max-width: 100%;
      @media (max-width:540px) {
        border: none;
       }
    }
    &:nth-child(2){
      max-width: 100%;
      border-top: 2px solid #fff;

   }
    &:nth-child(3){
      max-width: 100%;
   }
    &:last-child{
      max-width: 100%;
   }
   &:first-child{
    width: 100%;
  }
   &:nth-child(2){
    width: 100%;
 }
   &:nth-child(3){
    width: 100%;
 }
   &:last-child{
    width: 100%;
 }   
  }  
 }
}
.subscribe-footer{
  @media (max-width:540px) {
    margin-bottom: 25px;
   }
  &__title{
    @extend %sf-bold;
    font-size: 14px;
    line-height: 17px;
    max-width: 222px;
    margin-bottom: 34px;
    @media (max-width:540px) {
      text-align: center;
      margin: 0 auto 34px;
     }
  }
  &__form{
    display: flex;
    justify-content: space-between;
  }
  &__input{
    width: 100%;
    background-color:#FFFFFF;
    padding: 8px 12px;
    outline: none;
    border:none;
    color:$mainColor;
  }
  &__input::placeholder{
    color: #C4C4C4;
    font-size: 14px;
    line-height: 17px;
  }
  &__btn{
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:$mainColor;
    padding: 10px 16px 9px 16px;
    outline: none;
    border:none;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      @extend %sf-bold;
      color: $mainColor;
      border-radius:3px;
      background-color:#FFFFFF;
      border: 1px solid $mainColor;   
    }
    &:active{
      color: #FFFFFF;
      background-color:$mainColor;
      border: none;
    }
  }
}
.info-footer{
  &__title{
    pointer-events: none;
    @extend %sf-bold;
    @media (max-width:540px) {
      pointer-events: auto;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.0861538px;
      color: #7F7F7F;
      padding: 15px 15px;
      margin-left: -15px;
      margin-right: -15px;
      position: relative;
      &::after{
        position: absolute;
        content: "";
        background-image: url('./images/arrow-down.svg');
        right: 20px;
        bottom: 18px;
        width: 14px;
        height: 9px;
        transform: rotate(0);
      }
      &.active{
        &::after{
         transform: rotate(180deg);
       }
     }
    }
  }
  &__list{
    @media (max-width:540px) {
      display: none;
      margin-bottom: 15px;
    }
  }
  &__item{
    font-size: 14px;
    line-height: 17px;
    margin-top: 3px;
  }
  &__link{
    &:hover{
      color: #000;
      text-decoration: underline;
     }
    &:active{
      color: #48494D;
      text-decoration: none;
    }
  }
}
.links-footer{
  &__title{
    pointer-events: none;
    @extend %sf-bold;
    @media (max-width:540px) {
      pointer-events: auto;
      padding: 15px 15px;
      margin-left: -15px;
      margin-right: -15px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.0861538px;
      color: #7F7F7F;
      position: relative;
      &::after{
        position: absolute;
        content: "";
        background-image: url('./images/arrow-down.svg');
        right: 20px;
        bottom: 18px;
        width: 14px;
        height: 9px;
        transform: rotate(0);
      }
      &.active{
        &::after{
         transform: rotate(180deg);
       }
     }
    }
  }
  &__list{
    @media (max-width:540px) {
      display: none;
      margin-bottom: 15px;
    }
  }
  &__item{
    transition: all .3s;
    font-size: 14px;
    line-height: 17px;
    margin-top: 3px;
  }
  &__link{
    &:hover{
      color: #000;
      text-decoration: underline;
     }
    &:active{
      color: #48494D;
      text-decoration: none;
    }
  }
}
.social-links{
  align-items: center;
  @media (max-width:540px) {
    margin-top: 50px;
  }
  &__list{
    display: flex;
    align-items: center;
    @media (max-width:540px) {
     justify-content: center;
    }
  }
  &__item{
    display: inline-block;
    padding-right: 30px;
  }
  &__link{
    path {
      opacity: 1;
      fill: #2F3035;
      transition: all .3s;
    }
    &:hover {
      svg {
        path {
          opacity: 1;
          fill: $mainColor;
        }
      }
    }
  }
}
.bottom-footer{
  display: flex;
  justify-content: center;
  font-size: 10px;
  line-height: 12px;
  color: #48494D;
  padding-bottom: 27px;
  @media (max-width:540px) {
    flex-direction: column;
  }
  &__deal{
    transition: all .3s;
    margin-right: 81px;
    @media (max-width:540px) {
      margin: 10px 0;
    }
    &:hover{
      color: #000;
      text-decoration: underline;
     }
    &:active{
      color: #48494D;
      text-decoration: none;
    }
  }
  &__policy{
    transition: all .3s;
    &:hover{
      color: #000;
      text-decoration: underline;
     }
    &:active{
      color: #48494D;
      text-decoration: none;
    }
  }
}