.tabs-search{
  margin-bottom: 25px;
  &__item{
   padding: 11px 26px;
   @media (max-width:640px) {
    padding: 5px 0;
    margin-right: 15px;
  }
  }
  &__item.tab_active{
     @extend %sf-bold;
    background-color: #F0F0F4;
    border-radius: 5px;
    @media (max-width:640px) {
      border-bottom: 2px solid $mainColor;
      background-color: transparent;
      border-radius: 0;
    }
  }
}
.box-search{
  &__form{
    outline: none;
    border: none;
    display: flex;
    justify-content: space-between;
    @media (max-width:640px) {
      position: relative;
    }
  }
  &__input{
    padding: 15px 20px;
    background: #F0F0F4;
    border-radius: 3px;
    width: 100%;
    color: $mainColor;
    outline: none;
    border: none;
    @media (max-width:640px) {
      padding-right: 40px;
    }
    &::placeholder{
      font-size: 16px;
      line-height: 19px;
      color: #656464;
    }
  }
  .btn{
    @extend %sf-bold;
    font-size: 14px;
    padding: 17px 38px 16px 40px;
    margin-left: -3px;
    @media (max-width:640px) {
      font-size: 0;
      padding: 17px;
      background-color: transparent;
      position: absolute;
      background-image:url('./images/search.svg');
      background-repeat: no-repeat;
      right: 0;
      top: 15px;
    }
  }
/*   &__btn{
    @extend %sf-bold;
    font-size: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 38px 16px 40px;
    background-color: $mainColor;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-left: -3px;
    transition: all .3s;
    @media (max-width:640px) {
      font-size: 0;
      padding: 17px;
      background-color: transparent;
      position: absolute;
      background-image:url('./images/search.svg');
      background-repeat: no-repeat;
      right: 0;
      top: 15px;
    }
    &:hover{
      @extend %sf-bold;
      color: $mainColor;
      border-radius:3px;
      background-color:#FFFFFF;
      border: 1px solid $mainColor;   
    }
    &:active{
      color: #FFFFFF;
      background-color:$mainColor;
      border: none;
    }
  } */
}