section.search
  .container
    .search__content
      .search__tabs.tabs-search
        a.tabs-search__item(href="#") Поиск по  номеру
        a.tabs-search__item(href="#") Поиск по марке
        a.tabs-search__item(href="#") Поиск по названию товара
      .search__box.box-search
        .box-search__item#tab-1
        .box-search__item#tab-2
        .box-search__item#tab-3

        