.card-tabs{
  &__tabs{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: #F0F0F4;
    margin-bottom: 50px;
  }
  &__link{
    opacity: 0.6;
    margin: 22px 0;
  }
  &__link.tab_active{
    margin: 22px 0 15px;
    opacity: 1;
    padding-bottom: 5px;
    border-bottom: 2px solid $mainColor;
  }
}
.pickup-card{
  &__top-line{
    label{
      &:nth-child(2){
        margin-left: 150px;
        @media (max-width:980px) {
          margin-left: 30px;
        }
      }
      @media (max-width:860px) {
        width: 100%;
        display: block;
        margin-bottom: 25px;
        margin-left: 0;
      }
    }
  }
  &__search-lable{
    position: relative;
    color: rgba(47,48,53,0.7);
  }
  &__search-input{
    background: #F0F0F4;
    border-radius: 3px;
    padding: 9px 37px 9px 17px;
    margin-left: 17px;
    border: none;
    outline: none;
    color :$mainColor;
  }
  &__search-button{
    position: absolute;
    background: transparent;
    outline: none;
    padding: 17px;
    background-color: transparent;
    position: absolute;
    background-image:url('./images/search.svg');
    background-repeat: no-repeat;
    right: 0;
    top: 1px;
    border:none;
    cursor: pointer;
    @media (max-width:860px) {
      display: none;
    }
  }
  &__pickup-lable{
    font-size: 17px;
    line-height: 20px;
    color: rgba(47,48,53,0.7);
    margin-left: 54px;
  }
  &__list-item{
    display: flex;
    padding: 20px 0;
    font-size: 16px;
    line-height: 22px;
    color: #2F3035;
    color: rgba(47,48,53,0.7);
    border-bottom:1px solid rgba(47,48,53,0.1);
    @media (max-width:940px) {
      display: block;
     }
     @media (max-width:940px) {
      div{
        margin-bottom: 15px;
      }
     }
    &_title{
      color: #2F3035;
      font-size: 20px;
      line-height: 24px;
      @media (max-width:940px) {
       display: none;
      }
    }
  }
  &__list-address{
    width: 219px;
    margin-right: 81px;
  }
  &__list-workhours{
    width: 157px;
    margin-right: 96px;
    .workhours{
      display: flex;
      justify-content: space-between;
    }
  }
  &__list-avialable{
    width: 140px;
  }
  &__list-num{
    width: 104px;
  }
  &__list-btn{
    margin-left: auto;
    button{
      display:block;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 10px 41px;
      background: $mainColor;
      border-radius: 3px;
      cursor: pointer;
      outline: none;
      border: none;
      transition: all .3s;
      height: 50px;
      &:hover{
        color: $mainColor;
        border-radius:3px;
        background-color:#FFFFFF;
        border: 1px solid $mainColor;   
      }
      &:active{
        color: #FFFFFF;
        background-color:$mainColor;
        border: none;
      }
    }
  }

}