.breadcrumbs
  .container
   .breadcrumbs__inner
     ul.breadcrumbs__list.mobile-overflow
       li.breadcrumbs__list-item
         a(href="index.html") Главная
       li.breadcrumbs__list-item
         a(href="catalog.html") Гидроциклы