section.products.page-section
  .container
    .products__content
      h3.products__title С этим товаром покупают
      .tabs-wrapper
       .products__tabs.tabs-products.mobile-overflow
         a.tabs-products__link.tab.tab_active(href="#products-buy-with-tab-1") запчасти
         a.tabs-products__link.tab(href="#products-buy-with-tab-2") моторы
         a.tabs-products__link.tab(href="#products-buy-with-tab-3") шины 
         a.tabs-products__link.tab(href="#products-buy-with-tab-4") электроника
         a.tabs-products__link.tab(href="#products-buy-with-tab-5") инструменты
         a.tabs-products__link.tab(href="#products-buy-with-tab-6") аксессуары 
      .products__box.tabs-box
        .tabs-box__content#products-buy-with-tab-1.tabs-content.tabs-content_active
          .tabs-box__slider.product-slider
            .product-slider__item
              +product('products-buy-with/images/product-1','Водонепроницаемый Рюкзак','8 000 ₽','product-item_sale')
            .product-slider__item
              +product('products-buy-with/images/product-2','BRP Audio-Premium System','68 000 ₽','product-item_not-available')
            .product-slider__item
              +product('products-buy-with/images/product-3','Garmin Echomap Plus 62cv','45 000 ₽','product-item_sale')
            .product-slider__item
              +product('products-buy-with/images/product-4','BRP Audio-Premium System','68 000 ₽')
            .product-slider__item
              +product('products-buy-with/images/product-5','Мужской костюм защитный 3мм','7 000 ₽','product-item_sale')
        .tabs-box__content#products-buy-with-tab-2.tabs-content
          .tabs-box__slider.product-slider
            .product-slider__item
              +product('products-buy-with/images/product-1','Водонепроницаемый Рюкзак','8 000 ₽','product-item_sale')
            .product-slider__item
              +product('products-buy-with/images/product-2','BRP Audio-Premium System','68 000 ₽','product-item_not-available')
            .product-slider__item
              +product('products-buy-with/images/product-3','Garmin Echomap Plus 62cv','45 000 ₽')
            .product-slider__item
              +product('products-buy-with/images/product-4','BRP Audio-Premium System','68 000 ₽')
            .product-slider__item
              +product('products-buy-with/images/product-5','Мужской костюм защитный 3мм','7 000 ₽','product-item_sale')
        .tabs-box__content#products-buy-with-tab-3.tabs-content slider-3
        .tabs-box__content#products-buy-with-tab-4.tabs-content slider-4
        .tabs-box__content#products-buy-with-tab-5.tabs-content slider-5
        .tabs-box__content#products-buy-with-tab-6.tabs-content slider-6