.banner.page-section
  .container
    a.banner__link(href="#")
      picture
       source(srcset=require("./images/banner-mobile.png").default media="(max-width:320px)")
       img(src=require('./images/banner.png').default, alt="banner")